{{!< default}}

<main class="site-main">

    {{#post}}

    <article class="{{post_class}}">

        <header class="gh-article-header gh-canvas">

        <div class="article-tag post-card-tags">
            {{#if featured}}
                <span class="post-card-featured">{{> "icons/fire"}} Featured</span>
            {{/if}}
        </div>

            <h1 class="gh-article-title">{{title}}</h1>

            {{!-- Post meta data --}}
            <div class="post-meta">
                {{authors}}&nbsp;·&nbsp;Last updated on&nbsp;
                <time datetime="{{date format="YYYY-MM-DD"}}">{{date updated_at}}</time>&nbsp;·&nbsp;<span class="gh-card-length">{{reading_time}}</span>
            </div>

            {{!-- Tags --}}
            <div class="post-meta">
                {{#foreach tags}}
                    <a class="post-tag tag-{{slug}}" href="{{url}}" title="{{name}}">{{name}}</a>
                {{/foreach}}
            </div>


            {{> "post-image"}}
        </header>

        <div class="gh-content gh-canvas">

            <aside class="gh-sidebar"><div class="gh-toc"></div></aside> {{! The TOC will be inserted here }}

            {{content}}
        </div>

        <div class="pagination-container gh-canvas">
        <nav class="pagination">

            <div class="pagination-left">
                {{#prev_post}}
                    <a class="newer-posts" href="{{url}}">
                        <span class="pagination-label">Previous</span>
                        {{title}}
                    </a>
                {{/prev_post}}
            </div>

            <div class="pagination-right">
                {{#next_post}}
                    <a class="older-posts" href="{{url}}">
                        <span class="pagination-label">Next</span>
                        {{title}}
                    </a>
                {{/next_post}}
            </div>

        </nav>
        </div>

        {{#if comments}}
            <div class="gh-comments gh-canvas">
                {{comments}}
            </div>
        {{/if}}

    </article>

    {{/post}}

</main>